#popupShadow{
    top: 0;
    width: 99%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.432);
    display: none;
}


#popupButton:hover{
    color:red;
    cursor: pointer;
}



#popupHighScore{
    color: rgb(68, 68, 68);
}




#popup{
    position: relative;
    text-align: center;
    top: 30%;
    box-shadow: 0px 0px 99px 93px  rgb(0, 0, 0);
    background-color: rgb(12, 12, 12);
    width: 50%; margin: auto;
    padding: 2vw;
}