#popupShadow{
    top: 0;
    width: 99%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.432);
    display: none;
}

#popupButton:hover{
    color:red;
    cursor: pointer;
}

#popupHighScore{
    color: rgb(68, 68, 68);
}

#popup{
    z-index: 4;
    position: relative;
    text-align: center;
    top: 20%;
    box-shadow: 0px 0px 26px 100px rgba(1,1,1,1);
    background-image: url("../Resources/popupFrame.jpg");
    background-size: 100% 100%;
    width: 50%; margin: auto;
    padding: 4vw;
}



.menuLeft{
    background-color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    height: 40%;
    min-height: 200px;
    top: 35%;
    left: 0;
}


#menuLeftButton{
    z-index: 3;
    width: 2%;
    min-width: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rgb(156, 156, 156);
    border-left: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: large;
    cursor: pointer;
}


#menuLeftButton:hover{
    background-color: rgb(19, 19, 19);
    border-color: red;
    color: red;
}


#menuLeftContent{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 2;
    width: 400px;
    border: 1px solid rgb(56, 56, 56);
    border-left: none;
    display: none;
    padding-left: 40px;
}


.menuLeftContent__list{
    list-style-type: none;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    width: 90%;
}

.menuLeftContent__list--option{
    text-align: left;
    /* height: 30px; */
    margin: 10px;
    overflow: auto;
}

.menuLeftContent__list--option img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}


.test{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}





@media only screen and (max-width: 400px) {
    #menuLeftContent{
        width: 80%;
    }
}