@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');


body{
    background-color: black;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 0.1vw;
    content: url("../Resources/h8.jpg") url("../Resources/h9.jpg") url("../Resources/h7.jpg") url("../Resources/h6.jpg") url("../Resources/h5.jpg") url("../Resources/h4.jpg") url("../Resources/h3.jpg") url("../Resources/h2.jpg") url("../Resources/h1.jpg") url("../Resources/h0.jpg");

    
}

h3{
    text-align: center;
}


#container{
    margin-top: 4%;
    height: 40%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    
}


.container__box{
    text-align: center;
}

#navbar{
    width: 100%;
    height: 2%;
    text-align: center;
    overflow:auto;
}

.timeCounter{
    color: rgb(129, 129, 129);
}

.navbar__cell{
    float: left;
    width: 33%;
}

#passwordBox{
    margin: 5vw;
    margin-top: 0;
}

#password{
    letter-spacing: 0.5vw;
}

#category{
    color: rgb(90, 90, 90);
}

h2{
    font-size: x-large;
}

.contBottom{
    height: 25vw;
    width: 50%;
    float: left;
    
}

#hangmanImageContainer{
    background-image: url("../Resources/h9.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.letter{
    float: left; 
    width: 3.5vw;
    height: 3.5vw;
    min-height: 30px;
    min-width: 30px;
    margin: 0.4vw;
    text-align: center;
    border: 1px solid rgb(170, 170, 170);
    font-size: x-large;
}

.letter:hover{
    color: red;
    border: 1px solid red;
    cursor: pointer;
}


.letterHidden{
    visibility: hidden;
}


@media only screen and (max-width: 600px) {
    #container{
        width: 100%;
    }

    .contBottom{
        float: none;
        width: 70%;
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
    }

    #hangmanImageContainer{
        max-width: 280px;
    }

    .navbar__cell{
        float: none;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
    }

    h3{
        font-size: 14px;
    }


    h2{
        font-size: 17px;
    }


}

