body{
    background-color: black;
    color: white;
}

#container{
    margin-top: 4%;
    height: 40%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#passwordBox{
    margin: 5vw;
    margin-top: 0;
}

#password{
    letter-spacing: 0.5vw;
}

#category{
    color: rgb(48, 48, 48);
}

h2{
    font-size: x-large;
}

.contBottom{
    height: 25vw;
    width: 50%;
    float: left;
    
}

#hangmanImageContainer{
    background-image: url("../Resources/h9.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.letter{
    float: left; 
    width: 4vw;
    height: 4vw;
    min-height: 30px;
    min-width: 30px;
    margin: 0.5vw;
    text-align: center;
    border: 1px solid white;
    font-size: x-large;
}

.letter:hover{
    color: red;
    border: 1px solid red;
    cursor: pointer;
}


.letterHidden{
    visibility: hidden;
}


@media only screen and (max-width: 600px) {
    #container{
        width: 100%;
    }

    .contBottom{
        float: none;
        width: 70%;
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
    }

    #hangmanImageContainer{
        max-width: 280px;
    }
}

